* {
    box-sizing: border-box;

}

body {
    font-family: 'Commissioner', sans-serif;
    position: relative;



}

header {
    background-image: url('imgs/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Commissioner', sans-serif;
    z-index: -1;
    width: 100%;


}

.darken-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shade {
    background-color: hsl(279deg 8% 13% / 69%);
    mix-blend-mode: normal;
}



#header-gradient {
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    mix-blend-mode: normal;
    padding-bottom: 4em;
    position: absolute;
    z-index: 1;


}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;








}

.tabdesk-options {
    display: none;
}

#ham {
    cursor: pointer;
}

#mini-option-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1em;
    width: 85%;
    align-self: center;
    margin: 0 auto;
    justify-content: space-evenly;
    position: absolute;
    top: 4.5em;
    z-index: 2;

}

#mini-option-menu a {

    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #97979749;
    padding: 2em 1.5em;
    font-weight: bold;


}

#mini-option-menu :last-child {
    border-bottom: none;
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;

}

h1 {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 1em;
    padding: 0em 2em;

}

.intro-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 327px;
    border-radius: 1em;
    position: relative;
    top: -4em;
    background-color: #fff;
    max-width: 80%;
    border: 1px solid #80808029;
    z-index: 0;

}

.inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #7A7A7A;
}

.innerbox-p {
    padding: 0em 1.5em;
    margin-bottom: 1.5em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 0em 1.5em;
    width: 100%;
    margin-bottom: 2.5em;
}

.mastercraft {
    position: relative;
    top: -1.5em;
}

#back {
    font-size: 1em;
    width: 75%;

}

.buttons-green {
    color: #fff;
    background-color: #3CB3AB;
    border-radius: 2em;
    font-weight: 700;
    padding: 1em 2em;
    border: none;
    font-family: 'Commissioner', sans-serif;
    display: flex;
    justify-content: center;

}





@media screen and (min-width:768px) {
    header {
        background-image: url('imgs/image-hero-desktop.jpg');


        height: 400px;
    }

    #ham {
        display: none;
    }

    .tabdesk-options {
        display: flex;
        width: 225px;
        justify-content: space-between;

    }

    .tabdesk-options a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }

    .tabdesk-options a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .top-header {
        max-width: 1160px;
        padding-top: 3em;
        margin: 0 auto;
    }

    #mini-option-menu {
        display: none !important;

    }

    .shade {
        background-color: rgba(0, 0, 0, 0.0001);
    }

}