* {
    box-sizing: border-box;

}

body {
    font-family: 'Commissioner', sans-serif;
}

header {
    background-image: url('imgs/image-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;

}

#header-gradient {
    width: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    mix-blend-mode: normal;
    opacity: 0.6;

}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.8em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    opacity: 1;



}

.tabdesk-options {
    display: none;
}



@media screen and (min-width:768px) {
    header {
        background-image: url('imgs/image-hero-desktop.jpg');


        height: 400px;
    }

    #ham {
        display: none;
    }

    .tabdesk-options {
        display: flex;
        width: 225px;
        justify-content: space-between;

    }

    .tabdesk-options a {
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }

    .tabdesk-options a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .top-header {
        max-width: 1160px;
        padding-top: 3em;
        margin: 0 auto;
    }

}